/* GENERAL SETTINGS */
html {
    min-width: 1200px;
    max-width: 950px;
    min-height: 712px;
    max-height: 800px;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#B7B9C5;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    text-align: center;
    line-height: 1.4;
}

.pageContent{
    padding: 5em;
    font-weight: 400;
}



/* HEADER */

header {
    text-align: left;
    margin-bottom: 7rem;
}

#logo {
    width: 150px;
}

/* MAIN */

/* PAGE 1 */ 

h1, h2 {
    font-family: 'Outfit', sans-serif;
}

h1 {
    color: #E7E7EB;
    font-size: 60px;
    margin-bottom: 2rem;
}

h1 span, h1 strong {
    display: block;
}
h1 span {
    line-height: 0.2;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
}

ul {
    padding: 2em;
    margin-bottom: 3em;
}


.firstsectionpage1, .proceed {
    text-align: left;
}
.proceed div * {
    display: inline-block;
}

.proceed input {
    border-style: solid;
    border-color: white;
    border-width: 10px;
}

.proceed > p {
    color: #E7E7EB;
    font-weight: 500;
}


.firstsectionpage1 > h2 {
    color: #C1108A;
}

strong {
    color: #E7E7EB;
    font-weight: 700;
}

#allowProceed {
    border-color: aqua;
    border-style: solid;
    border-width: 10px;
}

.blueLink {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 12em;
    background-color: #8cffff;
    padding: 0.7em 2.5em; 
    color: #0B113B;
    box-shadow: #37ffff 2px 2px 20px 2px;
}

.blueLink:hover {
    cursor: pointer;
    background-color: #b5ffff;
}


/* PAGE 2 */


#timer{
    display: inline-block;
    text-align: center;
    margin-left: 50em;
}

#quest {
    padding: 1em;
    font-size: 3vw;
    color: #EBE8EE;
}


.answerContainer {
    display: inline-block;
    opacity: 2%;
    background-color: white;
    border-color: white;
    border-style: groove;
    border-width: 2px;
    border-radius: 20%;
}

.answer {
    display: inline-block;
    padding: 1em 4em;
    color: #EBE8EE;
    opacity: 100%;

}

.bottomPage > *{
    display: inline-block;
    margin: 0px 15vw;
    text-transform:uppercase;
}

.outOf {
    color: #AC1286;
}

.hidePage {
    visibility: hidden;
}



