/* GENERAL SETTINGS */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: white;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    text-align: center;
    line-height: 1.4;
    padding: 2rem;
}



/* HEADER */

header {
    text-align: left;
    margin-bottom: 3rem;
}

#logo {
    width: 150px;
}

/* MAIN */

/* PAG 1 */ 

.firstsectionpage1, .proceed {
    text-align: left;
}

.submitPag1 > * {
    display: inline-block;
    text-align: left;
}

.firstsectionpage1 > h2 {
    color: #C1108A;
}

